## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet = "earth"
diameter = 12742
print('The diameter of {} is {} kilometers' .format(planet,diameter))

The diameter of earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [6]:
#Tuple are immutable but list are mutable
#Tuples are denoted in () and list are denoted as []

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [8]:
def domainGet(email):
  print("Your domain is: " + email.split('@')[-1]) 
email = input("Enter your email ID: >")

Enter your email ID: >user@domain.com

In [9]:
domainGet('user@domain.com')

Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def findDog(st):
  if 'dog' in st.lower():
    print("True")
  else:
    print("False")
st = "Is there a dog here?"
findDog(st)

True

In [16]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
value = 'This dog runs faster than the other dog dude!';
def countdogs(value):
  count = 0
  for word in value.lower().split():
    if word == 'dog' or word == 'dogs':
      count = count + 1
      print(count)
countdogs(value)

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [23]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [32]:
speeding = 85
if speeding > 80:
  print("'Big Ticket'")

'Big Ticket'

In [33]:
speeding = 70
if speeding > 60:
  print("'Small Ticket'")

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [35]:
employee = [400,500,550,600,250]
sum = 0
print("salary of 1st person is",employee[0])
print("salary of 2nd person is",employee[1])
print("salary of 3rd person is",employee[2])
print("salary of 4th person is",employee[3])
print("salary of 5th person is",employee[4])
for x in employee:
  sum = sum+x
print("The total salary is",sum)

salary of 1st person is 400
salary of 2nd person is 500
salary of 3rd person is 550
salary of 4th person is 600
salary of 5th person is 250
The total salary is 2300

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [36]:
d1 = {'Empid':1,'Empname':"abc",'basicpay':10000}
d2 = {'Deptname':'cse','Deptid': 2}
print({**d1,**d2})

{'Empid': 1, 'Empname': 'abc', 'basicpay': 10000, 'Deptname': 'cse', 'Deptid': 2}